.bordered-table {
  width: 100%;
  border-collapse: collapse;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.navigation {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  span {
    white-space: nowrap;
  }
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
  .title-main {
    flex-grow: 1;
  }
}
